h1{
    font-family: Poppins;
    color: deepskyblue;
}
p{
    font-family: 'Fira Code', monospace;
    color: deeppink;
}
small{
    color: rgb(50, 50, 50);
    font-family: 'Fira Code', monospace;
    letter-spacing: 1px;
    text-align: center;
}